* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%; /*16px*/
}

body {
  background-image: url("/images/restaurant1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fffbdf;
  max-width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.65;
  color: #160e0c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

p {
  margin-bottom: 1.15rem;
  font-size: 1.5rem;
}

h1 {
  font-size: 64px;
  line-height: 154.5%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fffbdf;
}

h2 {
  font-family: "Playfair Display", serif;
  margin: 2.75rem 0 1.05rem;
  font-size: 2.5rem;
  line-height: 1.15;
  font-weight: 600;
}

h3 {
  font-size: 1.825rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: #fffbdf70;
}

nav ul {
  width: 30%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  font-size: 1.25rem;
}

nav img {
  padding: 10px;
  padding-left: 50px;
}

a {
  color: #160e0c;
  text-decoration: none;
}

a:hover {
  color: #eb5529;
}

.logo-header {
  margin: 140px 0 120px 370px;
 
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu-section {
  background-color: #fffbdf70;
  display: flex;
  padding: 10px;
  justify-content: center;
}

.featured {
  background-color: #fffbdf70;
  justify-content: space-evenly;
  padding: 50px;
  padding-top: 40px;
  margin: 50;
}

.featured img {
  width: 341px;
  height: auto;
}

.featured p {
  margin: 30px 0 0 30px ;
  width: 284px;
}

.dessert-section {
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}

.dessert-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: #fffbdf70;
  border-radius: 4px;
  height: auto;
  margin-left: 45%;
  
}

.wine {
  padding: 3rem;
}

.wine h3 {
  padding-left: 1rem;
}

.wine p {
  padding-left: 1rem;
  max-width: 282px;
}

.desserts {
  padding: 3rem;
}

.desserts h3 {
  padding-left: 1rem;
}

.desserts p {
  padding-left: 1rem;
  max-width: 282px;
}

.desserts img {

}

.about-section {
  background-color: #fffbdf70;
  border-radius: 4px;
  margin: 100px 0;
  height: auto;
  max-width: 55%;
  padding-left: 10%;
}

.about-section h2 {
  padding: 30px 0;
  text-align: center;
}

.about-section p {
  padding: 10px;
}

.cover-footer {
  display: flex;
  height: 168px;
  justify-content: space-between;
  background-color: #fffbdf70;
}

.icons {
  display: flex;
  align-items: flex-end;
}

.icons li {
  list-style: none;
  margin-right: 50px;
}

.icons ul {
  display: flex;
  
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 20px 20px 40px 20px;
}

.grid-item {
  text-align: left;
  font-size: 1.5rem;
  padding: 10px 50px;
}