* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%; /*16px*/
}

body {
  background-image: url("/images/restaurant1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.65;
  color: #160e0c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

p {
  margin-bottom: 1.15rem;
  font-size: 1.5rem;
}

h1 {
  position: absolute;
  width: 824px;
  height: 534px;
  left: 347px;
  top: 220px;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 154.5%;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fffbdf;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: "Playfair Display", serif;
  margin: 2.75rem 0 1.05rem;
  font-size: 2.5rem;
  line-height: 1.15;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: #fffbdf70;
}

nav ul {
  width: 30%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  font-size: 1.25rem;
}

nav img {
  padding: 10px;
  padding-left: 50px;
}

a {
  color: #160e0c;
  text-decoration: none;
}

a:hover {
  color: #eb5529;
}

.logo-header {
  display: flex;
  align-self: center;
  margin: 330px;

  width: 458px;
  height: 372px;
  left: 347px;
  top: 220px;
}

.logo-header h1 {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu-section {
  background-color: #fffbdf70;
  display: flex;
  padding: 10px;
  justify-content: center;
}

.featured {
  background-color: #fffbdf70;
  justify-content: space-evenly;
  padding: 50px;
  padding-top: 40px;
  margin: 50;
}

.featured img {
  width: 341px;
}

.featured p {
  margin: 30px 0 0 30px ;
  width: 284px;
}

.dessert-section {
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}

.dessert-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: #fffbdf70;
  border-radius: 4px;
  height: 427px;
  padding-right: 330px;
}

.wine {
  padding: 30px;
}

.wine img {
  position: relative;
  left: 30px;
  top: 20px;
}

.wine p {
  padding: 25px 10px 25px 30px;
  width: 260px;
}

.desserts {
  padding: 45px 30px;
}

.desserts p {
  width: 270px;
}

.desserts img {
  position: relative;
  right: 60px;
  top: 10px;
}

.about-section {
  background-color: #fffbdf70;
  border-radius: 4px;
  margin: 100px 0;
  height: auto;
  max-width: 55%;
  padding-left: 300px;
}

.about-section h2 {
  padding: 30px 0;
  text-align: center;
}

.about-section p {
  padding: 20px;
  padding-left: 80px;
}

.cover-footer {
  display: flex;
  height: 168px;
  justify-content: space-between;
  background-color: #fffbdf70;
}

.icons {
  display: flex;
  align-items: flex-end;
}

.icons li {
  list-style: none;
  margin-right: 50px;
}

.icons ul {
  display: flex;
  
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 20px;
}

.grid-item {
  text-align: left;
  font-size: 1.5rem;
  padding: 10px;
}
